body{
    
    background-color: rgb(46, 46, 46);
    color: rgb(255, 255, 255);
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto ;
    padding: 15px;
}

header{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}


#title{
    flex-direction: column;
    line-height: 10px;
}

li{
    display: inline-block;
    font-size: 1rem ;
    margin: 20px;
}

a{
color:white
}

a:houver{
    color: white;
    transition: 0.5s all;
}

#increva-se{
    border: 2px solid rgb(155 6 206) ;
}

#increva-se:hover{
    color:  rgb(132, 14, 201);
}

ul{
    margin: 100px;
}

#Gustavo{
    font-size: 3rem;
    color: rgb(0, 242, 255);
}

main{

    display: flex;
    flex-direction: row;
    margin-top:  50px;

}

h2{
    line-height: 2rem;
    font-family: poppinsmedium;
    font-size: 3em;
}

span{
    color: rgb(0, 242, 255);
}

p{
    line-height: 20px;
    max-width: 500px;
}

.mulher{
    width: 580px;
    padding: 30px 30px 30px 30px;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
 
form[type="submit"]{
    height: 50px;
    width: 50%;
    background-color:  rgb(1, 255, 238);
    color: white;
    font-weight: bold;
}

input{
    margin-top: 1em;
    width: 21rem;
    border-radius: 100vh;
    padding: 10px 0 10px 0;
}